In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns = ["a","b","c","d"])

In [3]:
df.drop("a",axis=1)

Empty DataFrame
Columns: [b, c, d]
Index: []

In [4]:
df1 = pd.DataFrame({
    "rxn":["MTHFC"],
    "met":["10fthf_c"],
    "reversible":[True],
    "coefficient":[1.0],
    "flux":[2.312759]
})
df2 = pd.DataFrame({
    "rxn":["AICART"],
    "met":["10fthf_c"],
    "reversible":[True],
    "coefficient":[-1.0],
    "flux":[0.056402]
})

In [5]:
pd.concat([df1,df2], axis=0)

      rxn       met  reversible  coefficient      flux
0   MTHFC  10fthf_c        True          1.0  2.312759
0  AICART  10fthf_c        True         -1.0  0.056402

In [6]:
test_df = pd.DataFrame({
    "a":[1.,1.,3.,4.,5.],
    "b":["asd", "wer", "rty", "poi", "ert"],
    "c":[5,6,7,8,9]
})

In [7]:
test_df.loc[test_df["b"]=="wer", "a"]

1    1.0
Name: a, dtype: float64

In [8]:
test_df.loc[test_df["a"]==(test_df["a"].min())]

     a    b  c
0  1.0  asd  5
1  1.0  wer  6

In [9]:
print(test_df["a"].dtype)

float64

In [10]:
test_df["a"].values[0]

1.0

In [11]:
df.loc[test_df["a"]==3]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [12]:
df1["flux"] == df1["flux"].min()

0    True
Name: flux, dtype: bool

In [13]:
df1["flux"].iloc[0]

2.312759

In [15]:
test_df1 = pd.DataFrame({
    "a":[1,2,3,4,5,6],
    "b":[3,1,2,3,4,5],
    "c":[0,9,8,7,6,5]
})
test_df2 = pd.DataFrame({
    "a":[3,1,2,3,4,5],
    "b":[1,2,3,4,5,6],
    "c":[4,5,1,2,7,8]
})

In [18]:
pd.concat([test_df1,test_df2], axis=0, ignore_index=True)

    a  b  c
0   1  3  0
1   2  1  9
2   3  2  8
3   4  3  7
4   5  4  6
5   6  5  5
6   3  1  4
7   1  2  5
8   2  3  1
9   3  4  2
10  4  5  7
11  5  6  8

In [2]:
test_dict = {
    "a":1,
    "b":2,
    "c":3,
    "d":4
}

In [9]:
test_df1 = pd.DataFrame.from_dict(test_dict, "index", columns=["degree_centrality"])

In [8]:
test_dict2 = {
    "a":5,
    "b":6,
    "c":7,
    "d":8
}
test_df2 = pd.DataFrame.from_dict(test_dict2, "index", columns = ["betweeness_centrality"])

In [11]:
pd.concat([test_df1, test_df2], axis=1)

   degree_centrality  betweeness_centrality
a                  1                      5
b                  2                      6
c                  3                      7
d                  4                      8