In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(columns = ["a","b","c","d"])

In [5]:
df.drop("a",axis=1)

Empty DataFrame
Columns: [b, c, d]
Index: []

In [7]:
df1 = pd.DataFrame({
    "rxn":["MTHFC"],
    "met":["10fthf_c"],
    "reversible":[True],
    "coefficient":[1.0],
    "flux":[2.312759]
})
df2 = pd.DataFrame({
    "rxn":["AICART"],
    "met":["10fthf_c"],
    "reversible":[True],
    "coefficient":[-1.0],
    "flux":[0.056402]
})

In [8]:
pd.concat([df1,df2], axis=0)

      rxn       met  reversible  coefficient      flux
0   MTHFC  10fthf_c        True          1.0  2.312759
0  AICART  10fthf_c        True         -1.0  0.056402

In [23]:
test_df = pd.DataFrame({
    "a":[1.,1.,3.,4.,5.],
    "b":["asd", "wer", "rty", "poi", "ert"],
    "c":[5,6,7,8,9]
})

In [24]:
test_df.loc[test_df["b"]=="wer", "a"]

1    1.0
Name: a, dtype: float64

In [25]:
test_df.loc[test_df["a"]==(test_df["a"].min())]

     a    b  c
0  1.0  asd  5
1  1.0  wer  6

In [28]:
print(test_df["a"].dtype)

float64

In [20]:
test_df["a"].values[0]

1

In [21]:
df.loc[test_df["a"]==3]

0    False
1    False
2     True
3    False
4    False
Name: a, dtype: bool

In [32]:
df1["flux"] == df1["flux"].min()

0    True
Name: flux, dtype: bool

In [33]:
df1["flux"].iloc[0]

2.312759